.swiper {
    padding: 18px;
}


.swiper-slide {
    display: flex;
    justify-content: center;

}

.swiper-slide > div {
    max-width: 100%;
    height: auto;
}

.swiper-slide > div > img {
    width: 100%;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.swiper-pagination-bullet-active {
    background-color: #81CAA8;
}

.swiper-button-prev {
    padding: 32px;
    color: #81CAA8;
}

.swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
}

.swiper-button-next {
    padding: 32px;
    color: #81CAA8;
}

.swiper-button-next::after {
    font-size: 20px;
    font-weight: bold;
}